<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="apriltag">
  <xacro:arg name="make_urdf" default="false"/>

  <!-- param size: size of the April tag in meters, excluding the white border. -->
  <xacro:macro name="apriltag_36h11" params="name id size">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0.00001"/>
        <geometry>
          <mesh filename="package://gerard_bauzil/meshes/apriltag_36h11/${id}.dae" scale="${size} ${size} 1." />
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <xacro:if value="$(arg make_urdf)">
    <xacro:arg name="name" default=""/>
    <xacro:arg name="id"   default=""/>
    <xacro:arg name="size" default=""/>

    <!-- check args -->
    <xacro:property name="name" value="$(arg name)"/>
    <xacro:if value="${name == ''}">
      <xacro:ERROR_incorret_parameter_name/>
    </xacro:if>
    <xacro:property name="id" value="$(arg id)"/>
    <xacro:if value="${id == ''}">
      <xacro:ERROR_incorret_parameter_id/>
    </xacro:if>
    <xacro:property name="size" value="$(arg size)"/>
    <xacro:if value="${size == '' or float(size) != float(size)}">
      <xacro:ERROR_incorret_parameter_size/>
    </xacro:if>

    <xacro:apriltag_36h11 name="$(arg name)" id="$(arg id)" size="$(arg size)"/>
  </xacro:if>
</robot>
