<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plank_of_wood$(arg number)">
  <xacro:include filename="apriltag.xacro"/>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.203 0.116 0.043"/>
      </geometry>
      <material name="wood">
        <color rgba="0.8 0.5 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.203 0.116 0.043"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.00063"  ixy="0"  ixz="0" iyy="0.00177" iyz="0" izz="0.00225" />
    </inertial>
  </link>

  <xacro:macro name="tag" params="number x y side *material">
    <!-- the size 0.075 corresponds to 60mm * 10 / 8 because the DAE includes white pixels on the border.-->
    <xacro:apriltag_36h11 name="tag36_11_000${number}"
      id="tag36_11_000${number}"
      size="0.075" />
    <joint name="tag36_11_000${number}_joint" type="fixed">
      <parent link="base_link"/>
      <child  link="tag36_11_000${number}"/>
      <xacro:if value="${side == 'front'}">
        <origin xyz="${x/1000.0} ${y/1000.0} 0.022" />
      </xacro:if>
      <xacro:unless value="${side == 'front'}">
        <origin xyz="${x/1000.0} ${y/1000.0} -0.022" rpy="3.141592653589793 0 3.141592653589793" />
      </xacro:unless>
    </joint>
  </xacro:macro>

  <xacro:macro name="tags" params="number x y">
    <xacro:tag number="${number * 10}" x="-${x}" y="${y}" side="front">
      <material name="red">
        <color rgba="0.8 0 0 1"/>
      </material>
    </xacro:tag>
    <xacro:tag number="${number * 10 + 1}" x="${x}" y="${y}" side="front">
      <material name="green">
        <color rgba="0 0.8 0 1"/>
      </material>
    </xacro:tag>
    <xacro:tag number="${number * 10 + 2}" x="${x}" y="${y}" side="back">
      <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </xacro:tag>
    <xacro:tag number="${number * 10 + 3}" x="-${x}" y="${y}" side="back">
      <material name="brown">
        <color rgba="0.8 0.8 0 1"/>
      </material>
    </xacro:tag>
  </xacro:macro>

  <xacro:tags number="$(arg number)" x="$(arg x)" y="$(arg y)" />
  <!-- args are :
         1 62.625 6.25
         2 62.875 8.625
         3 63     10.5
         4 63.25  7.75
  -->
</robot>
