<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plank_of_wood$(arg number)">
  <handle name="handle1" clearance="0.08">
    <position>  0.1015 0 0  0 0 0 1 </position>
    <link name="base_link"/>
  </handle>
  <handle name="handle2" clearance="0.08">
    <position> -0.1015 0 0  0 0 0 1 </position>
    <link name="base_link"/>
  </handle>

  <contact name="bottom_surface">
    <link name="base_link"/>
    <point>
      +0.102 +0.022 -0.058
      +0.102 -0.022 -0.058
      -0.102 -0.022 -0.058
      -0.102 +0.022 -0.058
    </point>
    <shape>
      4 0 1 2 3
    </shape>
  </contact>
</robot>
