<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="qr_drill">
  <xacro:include filename="apriltag.xacro"/>

  <xacro:macro name="qr_drill" params="number size:=0.064">
    <link name="drill_link">
      <visual>
        <geometry>
          <cylinder length="0.074" radius="0.005"/>
        </geometry>
        <material name="blue">
          <color rgba="0.1 0.1 0.9 1"/>
        </material>
      </visual>
      <collision>
        <geometry name="drill">
          <cylinder length="0.074" radius="0.005"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      </inertial>
      <collision_checking>
        <!--- This tells to pinocchio to replace the cylinder called "drill" by
             a capsule with the same radius and length -->
        <capsule name="drill"/>
      </collision_checking>
    </link>

    <link name="tag_support_link">
      <visual>
        <geometry>
          <mesh filename="package://gerard_bauzil/meshes/driller/qr_drill.stl"/>
        </geometry>
        <material name="blue">
          <color rgba="0.1 0.1 0.9 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://gerard_bauzil/meshes/driller/qr_drill.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      </inertial>
    </link>

    <joint name="tag_support_joint" type="fixed">
      <parent link="drill_link"/>
      <child  link="tag_support_link"/>
      <!-- 74mm / 2 + 4mm -->
      <origin xyz="0 0.049 0.041" rpy="0 3.141592653589793 0" />
    </joint>

    <xacro:apriltag_36h11 name="tag36_11${number}" id="tag36_11${number}" size="${size}" />

    <joint name="tag_joint" type="fixed">
      <parent link="tag_support_link"/>
      <child  link="tag36_11${number}"/>
      <origin xyz="0 0 0.0022" />
    </joint>
  </xacro:macro>
</robot>
