<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="support_apriltags_right_hand">
  <xacro:include filename="apriltag.xacro"/>

  <xacro:property name="d" value="0.05563" />
  <xacro:property name="x" value="-0.005" />
  <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>

  <link name="base_link"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="support_link"/>
    <origin xyz="0 0 0.007" rpy="0 ${90 * deg_to_rad} 0" />
  </joint>

  <link name="support_link">
    <visual>
      <geometry>
        <mesh filename="package://gerard_bauzil/meshes/support_apriltags_v3_meters.stl"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://gerard_bauzil/meshes/support_apriltags_v3_meters.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0001"/>
      <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
  </link>

  <xacro:macro name="tag" params="number *origin">
    <xacro:apriltag_36h11 name="tag36_11_00${number}"
      id="tag36_11_00${number}"
      size="0.020" />
    <joint name="tag36_11_00${number}_joint" type="fixed">
      <parent link="support_link"/>
      <child  link="tag36_11_00${number}"/>
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>

  <xacro:tag number="104">
    <origin xyz="${x} -${d}  ${d}" rpy="0 ${-45 * deg_to_rad} ${ 90 * deg_to_rad}" />
  </xacro:tag>
  <xacro:tag number="105">
    <origin xyz="${x}  ${d}  ${d}" rpy="0 ${ 45 * deg_to_rad} ${ 90 * deg_to_rad}" />
  </xacro:tag>
  <xacro:tag number="106">
    <origin xyz="${x}  ${d} -${d}" rpy="0 ${135 * deg_to_rad} ${ 90 * deg_to_rad}" />
  </xacro:tag>
  <xacro:tag number="107">
    <origin xyz="${x} -${d} -${d}" rpy="0 ${225 * deg_to_rad} ${ 90 * deg_to_rad}" />
  </xacro:tag>

</robot>
