<robot name="plank_of_wood">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.203 0.043 0.116"/>
      </geometry>
      <material name="wood">
        <color rgba="0.8 0.5 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.203 0.043 0.116"/>
      </geometry>
    </collision>
    <inertial>
      <!--TODO: The object has not been weighed.-->
      <mass value="0.4"/>
      <!--TODO: Compute inertia -->
      <inertia ixx="0.1"  ixy="0"  ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>
  <!--TODO: Add tags -->
  <joint name="tag36_11_00000_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="tag36_11_00000"/>
    <origin xyz="-0.056 -0.0195 0.01" />
  </joint>
  <joint name="tag36_11_00002_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="tag36_11_00002"/>
    <origin xyz="-0.056  0.0195 0.01" rpy="1.5707963267948966 0 3.141592653589793" />
  </joint>
  <link name="tag36_11_00000">
    <visual>
      <geometry>
        <box size="0.06 0.002 0.06"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
  </link>
  <link name="tag36_11_00002">
    <visual>
      <geometry>
        <box size="0.06 0.06 0.002"/>
      </geometry>
      <material name="green">
        <color rgba="0 0.8 0 1"/>
      </material>
    </visual>
  </link>
</robot>
