<launch>
  <!-- <arg name="public_sim" default="false"/> -->
  <arg name="gazebo" default="true"/>
  <!-- <arg name="mapping" default="$(eval 'gmapping' if arg('public_sim') else 'karto')"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />



  <!-- <group ns="tiago"> -->
  <!-- <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
    <arg name="arm" value="true"/>
    <arg name="end_effector" value="schunk-wsg"/>
    <arg name="ft_sensor" default="schunk-ft"/>
    <arg name="tuck_arm" default="true"/>
    <arg name="public_sim" default="true"/>
    <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.00 -R 0.0 -P 0.0 -Y 0"/>
    <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher" args="0 0 -0.0 0 0 1 0 world tiago/base_link" />
  </include> -->

  <!-- </group> -->

  <group ns="gerard_bauzil">
    <arg name="room_pose" default="-X 0.0 -Y 0.0 -Z -0.00 -R 0.0 -P 0.0 -Y 0"/>
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/gerard_bauzil.sdf"/>
    <param name="tf_prefix" value="gerard_bauzil"/>
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" /> -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
          args="-file $(find gerard_bauzil)/urdf/gerard_bauzil.sdf -sdf -model gerard_bauzil -x -0 -y 0. -z 0. -Y 0" />
    <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher" args="0 0 -0.10 0 0 1 0 world gerard_bauzil/base_link" />
  </group>

  <!-- 
  <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
      <arg name="state" value="mapping"/>
      <arg name="mapping" value="$(arg mapping)"/>
      <arg name="planner" value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
    </include>

  <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find tiago_2dnav)/config/rviz/navigation$(arg sim_sufix).rviz"/> -->
  <!-- <<group if="$(arg gazebo)" ns="gazebo"> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find gerard_bauzil)/urdf/gerard_bauzil.urdf -urdf
      -x -0 -y 0. -z 0. -Y 0
      -model gerard_bauzil " />
  </group>  -->


</launch>

