<launch>
  <arg name="prefix"/>
  <group ns="$(arg prefix)">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/pedestal_table.urdf"/>
    <param name="tf_prefix" value="/$(arg prefix)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    </node>
  </group>
</launch>
